# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.dll

# Folders #
assets/
backups/
crash-reports/
downloads/
local/
logs/
mods/*.jar
mods/*.jar.disabled
JustEnoughButtons/
memory_repo
resourcepacks/
saves/
server-resource-packs/
woot/
.mixin.out/
journeymap/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# specific files #
usercache.json
usernamecache.json
.curseclient


minecraftinstance.json
config/splash.properties
config/splash.properties
minecraftinstance.json
playerschoice.marker
minecraftinstance.json
config/AppliedEnergistics2/aerecipes/items.csv
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/Facades.cfg
config/AppliedEnergistics2/VersionChecker.cfg
config/AppliedEnergistics2/aerecipes/items.csv
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/Facades.cfg
config/AppliedEnergistics2/VersionChecker.cfg
config/AppliedEnergistics2/aerecipes/items.csv
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/Facades.cfg
config/AppliedEnergistics2/VersionChecker.cfg
config/AppliedEnergistics2/aerecipes/items.csv
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/Facades.cfg
config/AppliedEnergistics2/VersionChecker.cfg
config/AppliedEnergistics2/aerecipes/items.csv
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/Facades.cfg
config/AppliedEnergistics2/VersionChecker.cfg
minecraftinstance.json
config/AppliedEnergistics2/CustomRecipes.cfg
config/BiomeTweaker/output/biome/Volcanic_Desert (erebus_volcanic_desert).json
config/BiomeTweaker/output/biome/Vilespine_Forest (defiledlands_forest_vilespine).json
config/BiomeTweaker/output/biome/vampireForest (vampirism_vampireforest).json
config/BiomeTweaker/output/biome/Underground_Jungle (erebus_underground_jungle).json
config/BiomeTweaker/output/biome/Ulterior_Outback (erebus_ulterior_outback).json
config/BiomeTweaker/output/biome/Tyros_Swamp (fp_tyros_swamp).json
config/BiomeTweaker/output/biome/Tyros_Rock_Pleateu (fp_tyros_rockdesertflat).json
config/BiomeTweaker/output/biome/Tyros_Rock_Desert (fp_tyros_rockdesert).json
config/BiomeTweaker/output/biome/Tyros_Mountain (fp_tyros_mountain).json
config/BiomeTweaker/output/biome/Tyros (fp_tyros).json
config/BiomeTweaker/output/biome/Twilight_Lake (twilightforest_twilight_lake).json
config/BiomeTweaker/output/biome/Twilight_Highlands (twilightforest_twilight_highlands).json
config/BiomeTweaker/output/biome/Twilight_Glacier (twilightforest_twilight_glacier).json
config/BiomeTweaker/output/biome/Thornlands (twilightforest_thornlands).json
config/BiomeTweaker/output/biome/Tenebra_Forest (defiledlands_forest_tenebra).json
config/BiomeTweaker/output/biome/TaigaHills (minecraft_taiga_hills).json
config/BiomeTweaker/output/biome/Taiga_M (minecraft_mutated_taiga).json
config/BiomeTweaker/output/biome/Taiga (minecraft_taiga).json
config/BiomeTweaker/output/biome/Swamplands_Clearing (thebetweenlands_swamplands_clearing).json
config/BiomeTweaker/output/biome/Swamplands (thebetweenlands_swamplands).json
config/BiomeTweaker/output/biome/Swampland_M (minecraft_mutated_swampland).json
config/BiomeTweaker/output/biome/Submerged_Swamp (erebus_submerged_swamp).json
config/BiomeTweaker/output/biome/Stormland (advancedrocketry_stormland).json
config/BiomeTweaker/output/biome/Snowy_Forest (twilightforest_snowy_forest).json
config/BiomeTweaker/output/biome/Sludge_Plains (thebetweenlands_sludge_plains).json
config/BiomeTweaker/output/biome/Savanna_Plateau_M (minecraft_mutated_savanna_rock).json
config/BiomeTweaker/output/biome/Savanna_Plateau (minecraft_savanna_rock).json
config/BiomeTweaker/output/biome/Savanna_M (minecraft_mutated_savanna).json
config/BiomeTweaker/output/biome/Savanna (minecraft_savanna).json
config/BiomeTweaker/output/biome/Roofed_Forest_M (minecraft_mutated_roofed_forest).json
config/BiomeTweaker/output/biome/Roofed_Forest (minecraft_roofed_forest).json
config/BiomeTweaker/output/biome/Redwood_Taiga_Hills_M (minecraft_mutated_redwood_taiga_hills).json
config/BiomeTweaker/output/biome/Petrified_Forest (erebus_petrified_forest).json
config/BiomeTweaker/output/biome/Outer_Lands (thaumcraft_eldritch).json
config/BiomeTweaker/output/biome/OceanSpires (advancedrocketry_oceanspires).json
config/BiomeTweaker/output/biome/Ocean (minecraft_ocean).json
config/BiomeTweaker/output/biome/Oak_Savanna (twilightforest_oak_savannah).json
config/BiomeTweaker/output/biome/Nuclear_Wasteland (nuclearcraft_nuclear_wasteland).json
config/BiomeTweaker/output/biome/Mushroom_Forest (twilightforest_mushroom_forest).json
config/BiomeTweaker/output/biome/MoonDark (advancedrocketry_moondark).json
config/BiomeTweaker/output/biome/Moon (advancedrocketry_moon).json
config/BiomeTweaker/output/biome/Mesa_Plateau_M (minecraft_mutated_mesa_clear_rock).json
config/BiomeTweaker/output/biome/Mesa_Plateau_F_M (minecraft_mutated_mesa_rock).json
config/BiomeTweaker/output/biome/Mesa_Plateau_F (minecraft_mesa_rock).json
config/BiomeTweaker/output/biome/Mesa_Plateau (minecraft_mesa_clear_rock).json
config/BiomeTweaker/output/biome/Mesa__Bryce_ (minecraft_mutated_mesa).json
config/BiomeTweaker/output/biome/Mesa (minecraft_mesa).json
config/BiomeTweaker/output/biome/Menelaus_Sea (fp_menelaus_sea).json
config/BiomeTweaker/output/biome/Menelaus_Flat (fp_menelaus_flat).json
config/BiomeTweaker/output/biome/Menelaus (fp_menelaus).json
config/BiomeTweaker/output/biome/Meneglin (integrateddynamics_biome_meneglin).json
config/BiomeTweaker/output/biome/Mega_Taiga_Hills (minecraft_redwood_taiga_hills).json
config/BiomeTweaker/output/biome/Mega_Taiga (minecraft_redwood_taiga).json
config/BiomeTweaker/output/biome/Mega_Spruce_Taiga (minecraft_mutated_redwood_taiga).json
config/BiomeTweaker/output/biome/Magical_Forest (thaumcraft_magical_forest).json
config/BiomeTweaker/output/biome/JungleHills (minecraft_jungle_hills).json
config/BiomeTweaker/output/biome/JungleEdge_M (minecraft_mutated_jungle_edge).json
config/BiomeTweaker/output/biome/JungleEdge (minecraft_jungle_edge).json
config/BiomeTweaker/output/biome/Jungle_M (minecraft_mutated_jungle).json
config/BiomeTweaker/output/biome/Jungle (minecraft_jungle).json
config/BiomeTweaker/output/biome/Ice_Plains_Spikes (minecraft_mutated_ice_flats).json
config/BiomeTweaker/output/biome/Ice_Plains (minecraft_ice_flats).json
config/BiomeTweaker/output/biome/HotDryRock (advancedrocketry_hotdryrock).json
config/BiomeTweaker/output/biome/Highlands_Center (twilightforest_highlands_center).json
config/BiomeTweaker/output/biome/Hell (minecraft_hell).json
config/BiomeTweaker/output/biome/Fungal_Forest (erebus_fungal_forest).json
config/BiomeTweaker/output/biome/FrozenRiver (minecraft_frozen_river).json
config/BiomeTweaker/output/biome/FrozenOcean (minecraft_frozen_ocean).json
config/BiomeTweaker/output/biome/Flower_Forest (minecraft_mutated_forest).json
config/BiomeTweaker/output/biome/Fire_Swamp (twilightforest_fire_swamp).json
config/BiomeTweaker/output/biome/Extreme_Hills_ (minecraft_extreme_hills_with_trees).json
config/BiomeTweaker/output/biome/Envia (fp_envia).json
config/BiomeTweaker/output/biome/Enchanted_Forest (twilightforest_enchanted_forest).json
config/BiomeTweaker/output/biome/Elysian_Forest (erebus_fields_sub_forest).json
config/BiomeTweaker/output/biome/Elysian_Fields (erebus_elysian_fields).json
config/BiomeTweaker/output/biome/Eerie (thaumcraft_eerie).json
config/BiomeTweaker/output/biome/DesertHills (minecraft_desert_hills).json
config/BiomeTweaker/output/biome/Desert_M (minecraft_mutated_desert).json
config/BiomeTweaker/output/biome/Desert (minecraft_desert).json
config/BiomeTweaker/output/biome/Dense_Twilight_Forest (twilightforest_dense_twilight_forest).json
config/BiomeTweaker/output/biome/Defiled_Swamp (defiledlands_swamp_defiled).json
config/BiomeTweaker/output/biome/Defiled_Ice_Plains (defiledlands_ice_plains_defiled).json
config/BiomeTweaker/output/biome/Defiled_Hills (defiledlands_hills_defiled).json
config/BiomeTweaker/output/biome/Defiled_Desert (defiledlands_desert_defiled).json
config/BiomeTweaker/output/biome/Deep_Ocean (minecraft_deep_ocean).json
config/BiomeTweaker/output/biome/Deep_Mushroom_Forest (twilightforest_deep_mushroom_forest).json
config/BiomeTweaker/output/biome/Darklands_Forest (abyssalcraft_darklands_forest).json
config/BiomeTweaker/output/biome/Dark_Forest_Center (twilightforest_dark_forest_center).json
config/BiomeTweaker/output/biome/Dark_Forest (twilightforest_dark_forest).json
config/BiomeTweaker/output/biome/Cold_Taiga_M (minecraft_mutated_taiga_cold).json
config/BiomeTweaker/output/biome/Cold_Taiga_Hills (minecraft_taiga_cold_hills).json
config/BiomeTweaker/output/biome/Cold_Taiga (minecraft_taiga_cold).json
config/BiomeTweaker/output/biome/Cold_Beach (minecraft_cold_beach).json
config/BiomeTweaker/output/biome/Birch_Forest_M (minecraft_mutated_birch_forest).json
config/BiomeTweaker/output/biome/Birch_Forest_Hills_M (minecraft_mutated_birch_forest_hills).json
config/BiomeTweaker/output/biome/Birch_Forest_Hills (minecraft_birch_forest_hills).json
config/BiomeTweaker/output/biome/Birch_Forest (minecraft_birch_forest).json
config/BiomeTweaker/output/biome/Alien_Forest (advancedrocketry_alien_forest).json
config/BiomeTweaker/output/biome/Aether_Highlands (aether_legacy_aether_highlands).json
config/BiomeTweaker/output/biome/Volcanic_Desert (erebus_volcanic_desert).json
config/BiomeTweaker/output/biome/Vilespine_Forest (defiledlands_forest_vilespine).json
config/BiomeTweaker/output/biome/vampireForest (vampirism_vampireforest).json
config/BiomeTweaker/output/biome/Underground_Jungle (erebus_underground_jungle).json
config/BiomeTweaker/output/biome/Ulterior_Outback (erebus_ulterior_outback).json
config/BiomeTweaker/output/biome/Tyros_Swamp (fp_tyros_swamp).json
config/BiomeTweaker/output/biome/Tyros_Rock_Pleateu (fp_tyros_rockdesertflat).json
config/BiomeTweaker/output/biome/Tyros_Rock_Desert (fp_tyros_rockdesert).json
config/BiomeTweaker/output/biome/Tyros_Mountain (fp_tyros_mountain).json
config/BiomeTweaker/output/biome/Tyros (fp_tyros).json
config/BiomeTweaker/output/biome/Twilight_Lake (twilightforest_twilight_lake).json
config/BiomeTweaker/output/biome/Twilight_Highlands (twilightforest_twilight_highlands).json
config/BiomeTweaker/output/biome/Twilight_Glacier (twilightforest_twilight_glacier).json
config/BiomeTweaker/output/biome/Thornlands (twilightforest_thornlands).json
config/BiomeTweaker/output/biome/Tenebra_Forest (defiledlands_forest_tenebra).json
config/BiomeTweaker/output/biome/TaigaHills (minecraft_taiga_hills).json
config/BiomeTweaker/output/biome/Taiga_M (minecraft_mutated_taiga).json
config/BiomeTweaker/output/biome/Taiga (minecraft_taiga).json
config/BiomeTweaker/output/biome/Swamplands_Clearing (thebetweenlands_swamplands_clearing).json
config/BiomeTweaker/output/biome/Swamplands (thebetweenlands_swamplands).json
config/BiomeTweaker/output/biome/Swampland_M (minecraft_mutated_swampland).json
config/BiomeTweaker/output/biome/Submerged_Swamp (erebus_submerged_swamp).json
config/BiomeTweaker/output/biome/Stormland (advancedrocketry_stormland).json
config/BiomeTweaker/output/biome/Snowy_Forest (twilightforest_snowy_forest).json
config/BiomeTweaker/output/biome/Sludge_Plains (thebetweenlands_sludge_plains).json
config/BiomeTweaker/output/biome/Savanna_Plateau_M (minecraft_mutated_savanna_rock).json
config/BiomeTweaker/output/biome/Savanna_Plateau (minecraft_savanna_rock).json
config/BiomeTweaker/output/biome/Savanna_M (minecraft_mutated_savanna).json
config/BiomeTweaker/output/biome/Savanna (minecraft_savanna).json
config/BiomeTweaker/output/biome/Roofed_Forest_M (minecraft_mutated_roofed_forest).json
config/BiomeTweaker/output/biome/Roofed_Forest (minecraft_roofed_forest).json
config/BiomeTweaker/output/biome/Redwood_Taiga_Hills_M (minecraft_mutated_redwood_taiga_hills).json
config/BiomeTweaker/output/biome/Petrified_Forest (erebus_petrified_forest).json
config/BiomeTweaker/output/biome/Outer_Lands (thaumcraft_eldritch).json
config/BiomeTweaker/output/biome/OceanSpires (advancedrocketry_oceanspires).json
config/BiomeTweaker/output/biome/Ocean (minecraft_ocean).json
config/BiomeTweaker/output/biome/Oak_Savanna (twilightforest_oak_savannah).json
config/BiomeTweaker/output/biome/Nuclear_Wasteland (nuclearcraft_nuclear_wasteland).json
config/BiomeTweaker/output/biome/Mushroom_Forest (twilightforest_mushroom_forest).json
config/BiomeTweaker/output/biome/MoonDark (advancedrocketry_moondark).json
config/BiomeTweaker/output/biome/Moon (advancedrocketry_moon).json
config/BiomeTweaker/output/biome/Mesa_Plateau_M (minecraft_mutated_mesa_clear_rock).json
config/BiomeTweaker/output/biome/Mesa_Plateau_F_M (minecraft_mutated_mesa_rock).json
config/BiomeTweaker/output/biome/Mesa_Plateau_F (minecraft_mesa_rock).json
config/BiomeTweaker/output/biome/Mesa_Plateau (minecraft_mesa_clear_rock).json
config/BiomeTweaker/output/biome/Mesa__Bryce_ (minecraft_mutated_mesa).json
config/BiomeTweaker/output/biome/Mesa (minecraft_mesa).json
config/BiomeTweaker/output/biome/Menelaus_Sea (fp_menelaus_sea).json
config/BiomeTweaker/output/biome/Menelaus_Flat (fp_menelaus_flat).json
config/BiomeTweaker/output/biome/Menelaus (fp_menelaus).json
config/BiomeTweaker/output/biome/Meneglin (integrateddynamics_biome_meneglin).json
config/BiomeTweaker/output/biome/Mega_Taiga_Hills (minecraft_redwood_taiga_hills).json
config/BiomeTweaker/output/biome/Mega_Taiga (minecraft_redwood_taiga).json
config/BiomeTweaker/output/biome/Mega_Spruce_Taiga (minecraft_mutated_redwood_taiga).json
config/BiomeTweaker/output/biome/Magical_Forest (thaumcraft_magical_forest).json
config/BiomeTweaker/output/biome/JungleHills (minecraft_jungle_hills).json
config/BiomeTweaker/output/biome/JungleEdge_M (minecraft_mutated_jungle_edge).json
config/BiomeTweaker/output/biome/JungleEdge (minecraft_jungle_edge).json
config/BiomeTweaker/output/biome/Jungle_M (minecraft_mutated_jungle).json
config/BiomeTweaker/output/biome/Jungle (minecraft_jungle).json
config/BiomeTweaker/output/biome/Ice_Plains_Spikes (minecraft_mutated_ice_flats).json
config/BiomeTweaker/output/biome/Ice_Plains (minecraft_ice_flats).json
config/BiomeTweaker/output/biome/HotDryRock (advancedrocketry_hotdryrock).json
config/BiomeTweaker/output/biome/Highlands_Center (twilightforest_highlands_center).json
config/BiomeTweaker/output/biome/Hell (minecraft_hell).json
config/BiomeTweaker/output/biome/Fungal_Forest (erebus_fungal_forest).json
config/BiomeTweaker/output/biome/FrozenRiver (minecraft_frozen_river).json
config/BiomeTweaker/output/biome/FrozenOcean (minecraft_frozen_ocean).json
config/BiomeTweaker/output/biome/Flower_Forest (minecraft_mutated_forest).json
config/BiomeTweaker/output/biome/Fire_Swamp (twilightforest_fire_swamp).json
config/BiomeTweaker/output/biome/Extreme_Hills_ (minecraft_extreme_hills_with_trees).json
config/BiomeTweaker/output/biome/Envia (fp_envia).json
config/BiomeTweaker/output/biome/Enchanted_Forest (twilightforest_enchanted_forest).json
config/BiomeTweaker/output/biome/Elysian_Forest (erebus_fields_sub_forest).json
config/BiomeTweaker/output/biome/Elysian_Fields (erebus_elysian_fields).json
config/BiomeTweaker/output/biome/Eerie (thaumcraft_eerie).json
config/BiomeTweaker/output/biome/DesertHills (minecraft_desert_hills).json
config/BiomeTweaker/output/biome/Desert_M (minecraft_mutated_desert).json
config/BiomeTweaker/output/biome/Desert (minecraft_desert).json
config/BiomeTweaker/output/biome/Dense_Twilight_Forest (twilightforest_dense_twilight_forest).json
config/BiomeTweaker/output/biome/Defiled_Swamp (defiledlands_swamp_defiled).json
config/BiomeTweaker/output/biome/Defiled_Ice_Plains (defiledlands_ice_plains_defiled).json
config/BiomeTweaker/output/biome/Defiled_Hills (defiledlands_hills_defiled).json
config/BiomeTweaker/output/biome/Defiled_Desert (defiledlands_desert_defiled).json
config/BiomeTweaker/output/biome/Deep_Ocean (minecraft_deep_ocean).json
config/BiomeTweaker/output/biome/Deep_Mushroom_Forest (twilightforest_deep_mushroom_forest).json
config/BiomeTweaker/output/biome/Darklands_Forest (abyssalcraft_darklands_forest).json
config/BiomeTweaker/output/biome/Dark_Forest_Center (twilightforest_dark_forest_center).json
config/BiomeTweaker/output/biome/Dark_Forest (twilightforest_dark_forest).json
config/BiomeTweaker/output/biome/Cold_Taiga_M (minecraft_mutated_taiga_cold).json
config/BiomeTweaker/output/biome/Cold_Taiga_Hills (minecraft_taiga_cold_hills).json
config/BiomeTweaker/output/biome/Cold_Taiga (minecraft_taiga_cold).json
config/BiomeTweaker/output/biome/Cold_Beach (minecraft_cold_beach).json
config/BiomeTweaker/output/biome/Birch_Forest_M (minecraft_mutated_birch_forest).json
config/BiomeTweaker/output/biome/Birch_Forest_Hills_M (minecraft_mutated_birch_forest_hills).json
config/BiomeTweaker/output/biome/Birch_Forest_Hills (minecraft_birch_forest_hills).json
config/BiomeTweaker/output/biome/Birch_Forest (minecraft_birch_forest).json
config/BiomeTweaker/output/biome/Alien_Forest (advancedrocketry_alien_forest).json
config/BiomeTweaker/output/biome/Aether_Highlands (aether_legacy_aether_highlands).json
journeymap/config/5.5/journeymap.minimap.config
config/splash.properties
