# Un-Needed Mod Bloat
modpack/overrides/config/AppliedEnergistics2/items.csv
modpack/overrides/config/AppliedEnergistics2/aerecipes/*
modpack/overrides/config/cd4017be/inductiveLogistics.rcp
modpack/overrides/config/cd4017be/inductiveLogistics.rcp.old
modpack/overrides/config/cd4017be/compiled.dat
modpack/overrides/config/cd4017be/core.rcp.old
modpack/overrides/config/tellme/*
modpack/overrides/config/BiomeTweaker/output/*
modpack/overrides/config/cavegenerator/example_presets/*
modpack/overrides/config/InvTweaksRules.txt
modpack/overrides/config/InvTweaks.cfg
modpack/overrides/config/tickdynamic.cfg
modpack/overrides/config/thaumicjei_itemstack_aspects.json
modpack/overrides/config/splash.properties
modpack/overrides/config/brandon3055/contributors.json

# Client Only Files
modpack/overrides/config/jei/bookmarks.ini
modpack/overrides/config/jei/worldSettings.cfg
modpack/overrides/config/jei/lookupHistory.zip

# Other
modpack/overrides/config/worldedit/*
modpack/overrides/config/sampler.ini


# IDE
.idea/

# Stuff
.DS_Store

### PAX ###
pax
pax.exe
PaxStart.Bat
PAX Wiki.url
libssl*.dll
libcrypto*.dll
cacert.pem

### Modpack ###
.out/

### World Backups and Locks ###
Worlds/*.zip
*.lock
modpack/overrides/config/relauncher.json
*.log
