# Un-Needed Mod Bloat
src/config/AppliedEnergistics2/items.csv
src/config/AppliedEnergistics2/aerecipes/*
src/config/cd4017be/inductiveLogistics.rcp
src/config/cd4017be/inductiveLogistics.rcp.old
src/config/cd4017be/compiled.dat
src/config/cd4017be/core.rcp.old
src/acmedia/*
src/astralsorcery/*
src/backups/*
src/bendpacks/*
src/betweenlands_gallery/*
src/journeymap/*
src/llibrary/*
src/local/*
src/logs/*
src/mods/*
src/nuclearcraft/*
src/saves/*
src/.ReAuth.cfg
src/BotaniaVars.dat
src/*.log
src/*.dll
src/.curseclient
src/.mixin.out/*'
src/config/tellme/*
src/config/BiomeTweaker/output/*
src/config/cavegenerator/example_presets/*
src/config/InvTweaksRules.txt
src/config/InvTweaks.cfg
src/config/tickdynamic.cfg
src/config/thaumicjei_itemstack_aspects.json
src/config/splash.properties
src/usercache.json
src/usernamecache.json

# Client Only Files
src/config/jei/bookmarks.ini
src/config/jei/worldSettings.cfg
src/config/jei/lookupHistory.zip
src/journeymap/data/*
src/journeymap/server/*
src/journeymap/journeymap.log
src/crash-reports/*
src/.mixin.out/*

# Other
src/config/worldedit/*
src/config/sampler.ini
src/usercache.json
src/usernamecache.json
src/resourcepacks/*

# IDE
.idea/

# Stuff
.DS_Store
*.dat

src/patchouli_data.json
src/seen_buildersbag_addons.txt
src/config/brandon3055/contributors.json
src/cache/lolicaches/modlist.bin
