# Configuration file

~CONFIG_VERSION: 1.0

##########################################################################################################
# _general
#--------------------------------------------------------------------------------------------------------#
# General mod settings
##########################################################################################################

_general {
    # Migrates old per-color tritanium crate blocks to the unified new_tritanium_crate block. Disable only if you are certain your world never contained the old crate variants. [default: true]
    B:legacy_tritanium_crate_migration=true

    # When false, filled variants of energy/matter items (batteries, containers) are hidden from creative inventory and JEI. Empty variants still appear. [default: false]
    B:show_filled_items=false

    # When true, operators receive a chat notification on login if a newer version of Matter Overdrive is available. [default: true]
    B:version_check_chat=true
}


##########################################################################################################
# abilities
#--------------------------------------------------------------------------------------------------------#
# Android Player Abilities
##########################################################################################################

abilities {
    I:cloak_energy_per_tick=128
    I:heal_energy_per_regen=32
    I:high_jump_energy=1024
    I:nighvision_energy_per_tick=16
    I:shield_energy_per_damage=256
    I:shield_energy_per_tick=64
    S:teleport_blacklist <
        hellsand
        barrier
        bedrock
     >
    I:teleport_energy_cost=4096
    I:teleport_max_distance=32
    I:teleport_max_height_check=8
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Options for the Matter overdrive client
##########################################################################################################

client {
    B:"gravitational anomaly souund"=true
    B:"use holo shader"=true
    B:version_check=true

    ##########################################################################################################
    # android_hud
    #--------------------------------------------------------------------------------------------------------#
    # Positioning and colors of Android HUD elements
    ##########################################################################################################

    android_hud {
        I:android_biotic_stats.position=2
        I:android_minimap.position=6
        I:android_stats.position=0
        B:hide_vanilla_hud_elements=true
        D:hud_background_opacity=0.0
        S:hud_color=ffa9e2fb
        B:hud_movement=true
        D:hud_opacity=0.5
        B:show_entity_info_hud_element=true
    }

}


##########################################################################################################
# compatibility
#--------------------------------------------------------------------------------------------------------#
# Option for other mods
##########################################################################################################

compatibility {

    ##########################################################################################################
    # toughasnails
    #--------------------------------------------------------------------------------------------------------#
    # Tough As Nails / Simple Difficulty compatibility options.
    ##########################################################################################################

    toughasnails {
        # Enable Tough As Nails / Simple Difficulty compatibility [default: true]
        B:enabled=true

        # Energy cost in RF per temperature step corrected by the Thermal Regulation ability. Default: 128 RF/step. Max: 512000 (android base energy capacity). [range: 1 ~ 512000, default: 128]
        I:temperature_energy_cost=128

        # When true, the Thermal Regulation ability freezes body temperature at neutral with no energy cost, and the thermometer HUD is hidden. When false (default), the ability only corrects temperature when it reaches the dangerous ICY or HOT extremes, costs energy per correction step, and leaves the thermometer HUD visible. [default: false]
        B:temperature_suppress_mode=false

        # Energy cost in RF per thirst point restored by the Zero Calories ability. The thirst bar has 20 points. Default: 256 RF/point. Max: 512000. [range: 1 ~ 512000, default: 256]
        I:thirst_energy_cost=256
    }

}


##########################################################################################################
# debug
#--------------------------------------------------------------------------------------------------------#
# Debug Options. Such as Debug Log for Matter Recipe Calculation
##########################################################################################################

debug {
    B:android_battery_display=false

    # [INCOMPLETE FEATURE] Enable the Dimensional Pylon feature. Under active development. [default: false]
    B:dimensional_pylon_enabled=false
    B:"gravitational anomaly scan wireframe debug"=false
    B:"matter calculation"=false
    B:"matter registration"=false

    # Shows items which are incomplete / have no function [default: false]
    B:showInDevItems=false

    # [INCOMPLETE FEATURE] Enable the Starmap feature. Under active development. [default: false]
    B:starmap_enabled=false
}


##########################################################################################################
# entities
#--------------------------------------------------------------------------------------------------------#
# Options for Matter Overdrive Entities. Such as their Entity IDs.
##########################################################################################################

entities {

    android_player {
        # If true android speed modifiers won't change players FOV [default: true]
        B:disable_android_fov=true

        # Should the glitch effect be displayed every time the player gets hurt [default: true]
        B:hurt_glitching=true

        # Collection of potion ids that won't get removed while being an android. Example: minecraft:wither
        S:potion_removal_blacklist <
         >

        # How much does the android player recharge after respawning
        I:recharge_amount_on_respawn=64000

        # Remove all potion effects while an Android [default: true]
        B:remove_potion_effects=true

        # Should the player die after an Android transformation [default: true]
        B:transformation_death=true
    }

    failed_pig {
        B:enable=true
    }

    failed_cow {
        B:enable=true
    }

    failed_chicken {
        B:enable=true
    }

    failed_sheep {
        B:enable=true
    }

    mad_scientist {
        B:enable=true
    }

    mutant_scientist {
        B:enable=true
    }

    rogue_android {
        S:biome.blacklist <
            Hell
            Sky
            MushroomIsland
            MushroomIslandShore
         >
        S:biome.whitelist <
         >
        I:dimension.blacklist <
            1
         >
        I:dimension.whitelist <
         >
        B:do_drops=true
        B:drop_legendary_weapons=true
        B:drop_weapons=false
        B:enable=true
        S:legendary_spawn_chance_percent=0.03
        I:max_android_per_chunk=4
        S:spawn_chance_percent=0.1
        I:spawn_weight=25
        B:unlimited_weapon_energy=true
    }

    ranged_rogue_android {
        B:enable=true
    }

    drone {
        B:enable=true
    }

}


##########################################################################################################
# machine options
#--------------------------------------------------------------------------------------------------------#
# Machine Options.
##########################################################################################################

"machine options" {
    I:"charge station range"=8

    decomposer {
        I:cost.decompose=6000
        I:speed.decompose=80
        I:storage.energy=512000
        I:storage.matter=1024
        D:volume=1.0
    }

    matter_analyzer {
        D:chance.fail=0.1
        I:cost.analyze=64000
        I:progress.per_scan=20
        I:speed.analyze=800
        I:storage.energy=512000
        D:volume=1.0
    }

    network_switch {
        D:volume=1.0
    }

    network_router {
        D:volume=1.0
    }

    tritanium_crate_cyan {
        D:volume=1.0
    }

    tritanium_crate_pink {
        D:volume=1.0
    }

    android_spawner {
        D:volume=1.0
    }

    tritanium_crate {
        D:volume=1.0
    }

    holo_sign {
        D:volume=1.0
    }

    tritanium_crate_black {
        D:volume=1.0
    }

    weapon_station {
        D:volume=1.0
    }

    replicator {
        B:allow_infinite_replication=true
        I:cost.replication.energy=16000
        B:particles.vent=true
        I:speed.replication=120
        I:storage.energy=512000
        I:storage.matter=1024
        D:volume=1.0
        D:volume.replicate=1.0
    }

    tritanium_crate_light_blue {
        D:volume=1.0
    }

    tritanium_crate_yellow {
        D:volume=1.0
    }

    tritanium_crate_purple {
        D:volume=1.0
    }

    tritanium_crate_lime {
        D:volume=1.0
    }

    tritanium_crate_brown {
        D:volume=1.0
    }

    tritanium_crate_silver {
        D:volume=1.0
    }

    android_station {
        D:volume=1.0
    }

    pattern_monitor {
        D:volume=1.0
    }

    tritanium_crate_gray {
        D:volume=1.0
    }

    transporter {
        I:energy_per_unit=16
        I:matter_per_entity=25
        D:volume=1.0
    }

    tritanium_crate_red {
        D:volume=1.0
    }

    pattern_storage {
        I:drain.base=1000
        I:drain.per_drive=100
        B:particles.vent=true
        I:storage.energy=64000
        I:transfer.energy=128
        D:volume=1.0
    }

    tritanium_crate_orange {
        D:volume=1.0
    }

    matter_recycler {
        I:cost.recycle=1000
        I:speed.recycle=80
        I:storage.energy=512000
        D:volume=1.0
    }

    contract_market {
        I:delay.min=30
        I:delay.per_slot=5
        D:volume=1.0
    }

    tritanium_crate_magenta {
        D:volume=1.0
    }

    charging_station {
        I:range=8
        D:volume=1.0
    }

    star_map {
        D:volume=1.0
    }

    fusion_reactor_io {
        D:volume=1.0
    }

    fusion_reactor_controller {
        I:check.delay=40
        I:distance.anomaly=3
        D:drain.matter=0.0125
        I:output.energy=2048
        I:storage.energy=100000000
        I:storage.matter=2048
        D:volume=1.0
    }

    spacetime_accelerator {
        D:volume=1.0
        B:wave_particle=true
    }

    gravitational_stabilizer {
        I:"gravitational stabilizer base energy per tick"=200
        I:"gravitational stabilizer energy capacity"=250000
        I:"gravitational stabilizer max energy per tick"=2000
        I:"gravitational stabilizer max energy receive"=4000
        I:"gravitational stabilizer rescan rate"=40
        D:volume=1.0
    }

    inscriber {
        I:storage.energy=512000
        I:transfer.energy=16000
        D:usage.multiplier=1.0
        D:volume=1.0
    }

    tritanium_crate_white {
        D:volume=1.0
    }

    tritanium_crate_blue {
        D:volume=1.0
    }

    solar_panel {
        I:generation.base=8
        I:storage.energy=64000
        I:transfer.energy=512
        D:volume=1.0
    }

    tritanium_crate_green {
        D:volume=1.0
    }

    matter_scanner {
        D:chance.fail=0.1
        I:progress.per_scan=10
        I:time.scan=60
    }

    portable_decomposer {
        D:cost.energy_multiplier=1.0
        D:ratio.matter=0.1
        I:storage.energy=128000
        I:storage.matter=512
        I:transfer.energy=256
    }

    microwave {
        I:cost.energy=1000
        I:speed.cook=10
        I:storage.energy=512000
        I:transfer.energy=512000
        D:volume=1.0
    }

    spacetime_equalizer {
        B:dampen_movement=true
        I:max_durability=240
    }

    new_tritanium_crate {
        D:volume=1.0
    }

}


"matter network" {
    I:"max broadcasts per tick"=128
}


##########################################################################################################
# matter registry
#--------------------------------------------------------------------------------------------------------#
# Configuration for the Matter 
##########################################################################################################

"matter registry" {
    B:"automatic matter calculation from furnace"=true
    B:"automatic matter calculation from inscriber"=true

    # Shoud Matter be automaticly calculated from Recipes [default: true]
    B:"automatic matter calculation from recipe"=true
    B:automatic_calculation=true

    # Blacklist for items in the matter registry. Automatic Recipe calculation will ignore recipes with these items. Just add the unlocalized name or the ore dictionary name in the list.
    S:blacklist <
     >

    # Blacklist for mods (mod ID). Automatic Recipe calculation will ignore recipes with items from this mod
    S:mod_blacklist <
     >

    ##########################################################################################################
    # add matter
    #--------------------------------------------------------------------------------------------------------#
    # Registration of new items and the amount of matter they contain. Add them like so: I:[registered name or ore Dictionary name](meta)=[matter amount]. () - optional parameter. Example I:dye2=10 I:egg=29
    ##########################################################################################################

    "add matter" {
    }

}


##########################################################################################################
# server
#--------------------------------------------------------------------------------------------------------#
# Options for the Matter Overdrive server
##########################################################################################################

server {

    gravitational_anomaly {
        I:"batch tick rate"=4
        B:"block destruction"=true
        I:"blocks per batch"=1
        I:"entity scan rate"=10
        I:"equalizer damage rate"=200
        B:"gravitational anomaly block entities"=true
        B:"gravitational anomaly falling blocks"=true
        B:"gravitational anomaly forge fluids"=true
        B:"gravitational anomaly vanilla fluids"=true
        B:"gravitational pull"=true
        I:"idle scan ticks"=60
        I:"scan batch size"=128
    }

}


##########################################################################################################
# starmap
#--------------------------------------------------------------------------------------------------------#
# Starmap feature options.
##########################################################################################################

starmap {
    S:"galaxy build time multiply"=1.0
    S:"galaxy travel time multiply"=1.0
    I:max_planet_count=4
    I:max_star_count=2304
    I:min_planet_count=1
    I:min_star_count=2048
    S:name_prefix_chance=1.0
    S:name_suffix_chance=0.8
    I:quadrant_count=3
}


##########################################################################################################
# weapon values
#--------------------------------------------------------------------------------------------------------#
# Weapon Options.
##########################################################################################################

"weapon values" {
    I:"Omni Tool base damage"=7
    I:"Omni Tool energy cap"=32000
    I:"Omni Tool energy per shot"=512
    I:"Omni Tool max heat"=80
    I:"Omni Tool max use time"=240
    I:"Omni Tool range"=24
    I:"Omni Tool shot cooldown"=18
    I:"Omni Tool shot speed"=3
    I:"Phaser Rifle base damage"=8
    I:"Phaser Rifle energy cap"=32000
    I:"Phaser Rifle energy per shot"=1024
    I:"Phaser Rifle max heat"=80
    I:"Phaser Rifle max use time"=512
    I:"Phaser Rifle range"=32
    I:"Phaser Rifle shot cooldown"=11
    I:"Phaser Rifle shot speed"=4
    I:"Phaser base damage"=21
    I:"Phaser energy cap"=32000
    I:"Phaser energy per shot"=3072
    I:"Phaser max heat"=100
    I:"Phaser max use time"=60
    I:"Phaser range"=18
    I:"Phaser shot cooldown"=11
    I:"Plasma Shotgun base damage"=16
    I:"Plasma Shotgun energy cap"=32000
    I:"Plasma Shotgun energy per shot"=2560
    I:"Plasma Shotgun max charge time"=20
    I:"Plasma Shotgun max heat"=80
    I:"Plasma Shotgun range"=16
    I:"Plasma Shotgun shot cooldown"=22
    I:"Plasma Shotgun shot speed"=3
    I:"energy pack value"=32000
    I:"ion sniper base damage"=21
    I:"ion sniper energy cap"=32000
    I:"ion sniper energy per shot"=3072
    I:"ion sniper max heat"=100
    I:"ion sniper max use time"=512
    I:"ion sniper range"=96
    I:"ion sniper shot cooldown"=30
    I:"ion sniper shot speed"=8
}


##########################################################################################################
# world gen
#--------------------------------------------------------------------------------------------------------#
# World Generation options.
##########################################################################################################

"world gen" {
    I:"android house spawn chance"=20
    I:"cargo ship spawn chance"=5
    I:"crashed ship spawn chance"=60
    I:"dilithium vein size"=3
    I:"dilithium veins per chunk"=2
    B:"generate buildings"=false
    B:"generate house"=false
    I:ore_gen_blacklist <
        -1
        2
        3
        0
        4
     >
    I:"sand pit spawn chance"=100

    # Should the Matter Overdrive Villager house be Generated?
    B:spawn=false

    # Should ores such as dilithium and tritanium ore spawn in the world. This applies for all ores !
    B:"spawn ores"=false
    B:"spawn other"=false
    B:spawn.tile.dilithium_ore=false
    B:spawn.tile.gravitational_anomaly=false
    B:spawn.tile.tritanium_ore=false
    I:structure_gen_blacklist <
        -1
        0
        4
     >
    I:"tritanium vein size"=4
    I:"tritanium veins per chunk"=5
    I:"underwater base spawn chance"=20

    gravitational_anomaly {
        I:blacklist <
            -1
            0
            1
            3
         >
        S:"gravitational anomaly spawn chance"=0.005
        S:"gravitational anomaly spawn y level" <
         >
        I:whitelist <
            3
         >
    }

}


