# Configuration file

client {

    rendering {
        # Vertical gap in pixels between the contents overlay and the experience bar
        # Min: 0
        # Max: 256
        I:contentOverlayYOffset=5

        # Color of the edges on the default icosidodecahedron core, as #AARRGGBB
        S:coreEdgeColor=#84000000

        # Color of the faces on the default icosidodecahedron core, as #AARRGGBB
        S:coreFaceColor=#8440E0D0

        # Rotation speed multiplier for the core
        # Min: 0.0
        # Max: 10.0
        D:coreRotationSpeed=1.0

        # Scale of the handbag core
        # Min: 0.1
        # Max: 10.0
        D:coreScale=1.0

        # Whether to render the contents overlay above the experience bar
        B:renderContentsOverlay=true
    }

}


