# Configuration file

server {

    integrations {
        # Refill an empty selected configuration through its AE2 link, if available
        B:enableAe2Refill=true

        # Allow configurations supplied by ArchitectureCraft when it is installed
        B:enableArchitectureCraft=true

        # Allow configurations supplied by Blockcraftery when it is installed
        B:enableBlockcraftery=true

        # Allow configurations supplied by Chisel when it is installed.
        B:enableChisel=true
    }

}


