# Configuration file

enabled {
    B:"abyssalcraft:abybrick"=true
    B:"abyssalcraft:abydreadbrick"=true
    B:"abyssalcraft:cobblestone"=true
    B:"abyssalcraft:cstonebrick"=true
    B:"abyssalcraft:darkstone_brick"=true
    B:"abyssalcraft:dltplank"=true
    B:"abyssalcraft:dreadbrick"=true
    B:"abyssalcraft:dreadlandsdirt"=true
    B:"abyssalcraft:ethaxiumbrick"=true
    B:"advancedrocketry:planks"=true
    B:"aether_legacy:dungeon_block"=true
    B:"aether_legacy:holystone"=true
    B:"aether_legacy:skyroot_plank"=true
    B:"appliedenergistics2:quartz_block"=true
    B:"appliedenergistics2:sky_stone_brick"=true
    B:"astralsorcery:blockblackmarble"=true
    B:"astralsorcery:blockmarble"=true
    B:"atum:alabaster_brick_smooth"=true
    B:"atum:deadwood_planks"=true
    B:"atum:limestone_brick_large"=true
    B:"atum:palm_planks"=true
    B:"atum:porphyry_brick_smooth"=true
    B:"biomesoplenty:dirt"=true
    B:"biomesoplenty:planks_0"=true
    B:"biomesoplenty:white_sandstone"=true
    B:"botania:biomestonea"=true
    B:"botania:biomestoneb"=true
    B:"botania:dreamwood"=true
    B:"botania:livingrock"=true
    B:"botania:livingwood"=true
    B:"botania:quartztypeblaze"=true
    B:"botania:quartztypedark"=true
    B:"botania:quartztypeelf"=true
    B:"botania:quartztypelavender"=true
    B:"botania:quartztypemana"=true
    B:"botania:quartztypered"=true
    B:"botania:quartztypesunny"=true
    B:"defiledlands:tenebra_planks"=true
    B:"environmentalmaterials:alabaster_bricks"=true
    B:"environmentaltech:aethium"=true
    B:"environmentaltech:erodium"=true
    B:"environmentaltech:ionite"=true
    B:"environmentaltech:kyronite"=true
    B:"environmentaltech:lonsdaleite"=true
    B:"environmentaltech:pladium"=true
    B:"fp:dirt"=true
    B:"fp:planks"=true
    B:"fp:stone"=true
    B:"immersiveengineering:treated_wood"=true
    B:"thaumcraft:plank_greatwood"=true
    B:"thaumcraft:plank_silverwood"=true
    B:"thebetweenlands:mud_bricks"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


