# Configuration file

##########################################################################################################
# group settings
#--------------------------------------------------------------------------------------------------------#
# Here you can set the spawning settings for all mobs in this group that use the GROUP tag.
##########################################################################################################

"group settings" {
    # Here you can set the Dungeon Theme of this mob group. These are used by Doomlike Dungeons and might be used by other things later. Multiple entries should be comma seperated.
    S:"Freshwater Mobs Themes"=WATER, DUNGEON
}


