# Configuration file

general {
    # The vampire killer arrow can only instant kill NPC vampires that have a max (not actual) health of this
    I:arrow_vampire_killer_max_health=40

    # If the sanguinare effect can be canceled by a milk bucket
    B:can_cancel_sanguinare=true

    # The blood mB to charge percentage of the normal heart seeker vampire sword
    D:heart_seeker_charging_factor=5.0E-4

    # The percentage of stored blood used for every hit with the normal heart seeker vampire sword
    D:heart_seeker_usage_factor=0.005

    # Damage a normal holy water splash bottle does when directly hitting a vampire
    I:holy_water_splash_damage=5

    # Holy water damage is multiplied with this value for each tier above normal
    D:holy_water_tier_damage_inc=1.5

    # Minecraft will try to generate 1 camp per NxN chunk area.
    I:hunter_camp_density=8
    I:vampire_forest_weight=10
}


