# Configuration file

fission {
    I:fissionEnergyCapacity=50000
    I:fissionEnergyperTick=300
    I:fissionProcessingTicks=40
}


fusion {
    I:fusionEnergyCapacity=50000
    I:fusionEnergyperTick=300
    I:fusionProcessingTicks=40
}


general {
    B:enableAutomation=true
    B:familyFriendlyMode=false

    instance {
    }

    ##########################################################################################################
    # general
    #--------------------------------------------------------------------------------------------------------#
    # Options that affect the entire mod
    ##########################################################################################################

    general {
        # Enables item automation with hoppers, pipes, etc
        B:"Enable Automation"=true

        # Illegal drug compounds will have their names replaced with more family-friendly versions
        B:"Family Friendly Mode"=false
    }

    ##########################################################################################################
    # fission reactor
    #--------------------------------------------------------------------------------------------------------#
    # The Fisson Reactor is a multi-block structure that can splits one element into two new elements
    ##########################################################################################################

    "fission reactor" {
        # If true, Fission Reactors can share casing blocks with adjacent reactors
        # This allows up to 4 Fission Reactors to share a single set of casing blocks
        # or for rows of reactors to share a wall of casing blocks.
        B:"Compact Fission Reactor"=false

        # Max energy capacity of the Fission Reactor
        # Min: 1
        # Max: 2147483647
        I:"Energy Capacity"=50000

        # Energy consumption rate per tick for the Fission Reactor
        # Min: 1
        # Max: 2147483647
        I:"Energy per Tick"=300

        # Minimum energy consumption rate per tick for the Fission Reactor
        # Min: 0
        # Max: 2147483647
        I:"Minimum Energy per Tick"=0

        # List of moderator blocks/fluids for the Fusion Reactor.
        # Values are additive, i.e. if you have 2 diamond blocks with the default config, the final values will be - productivity: 1.1x (10% chance to get an additional drop), processing time: 1.2x (20% slower), energy usage: 1.2x (20% more FE/t)
        # Syntax: mod:block:meta;productivity;processing_time;energy_usage (meta is optional, mod is required, if meta is not specified, *any* is assumed)
        S:Moderators <
            minecraft:water;0;-0.02;-0.05
            minecraft:lava;0.2;0.05;0.1
            minecraft:coal_block;0;-0.05;-0.01
            minecraft:diamond_block;0.05;0.1;0.1
         >

        # Number of ticks per operation for the Fission Reactor
        # Min: 0
        # Max: 2147483647
        I:"Processing Ticks"=40
    }

    ##########################################################################################################
    # fusion reactor
    #--------------------------------------------------------------------------------------------------------#
    # The Fusion Reactor is a multi-block structure that can fuses two elements into a new element
    ##########################################################################################################

    "fusion reactor" {
        # If true, Fusion Reactors can share casing blocks with adjacent reactors
        # This allows up to 4 Fusion Reactors to share a single set of casing blocks
        # or for rows of reactors to share a wall of casing blocks.
        B:"Compact Fusion Reactor"=false

        # Max energy capacity of the Fusion Reactor
        # Min: 1
        # Max: 2147483647
        I:"Energy Capacity"=50000

        # Energy consumption rate per tick for the Fusion Reactor
        # Min: 1
        # Max: 2147483647
        I:"Energy per Tick"=300

        # Minimum energy consumption rate per tick for the Fusion Reactor
        # Min: 0
        # Max: 2147483647
        I:"Minimum Energy per Tick"=0

        # List of moderator blocks/fluids for the Fusion Reactor.
        # Values are additive, i.e. if you have 2 diamond blocks with the default config, the final values will be - productivity: 1.1x (10% chance to get an additional drop), processing time: 1.2x (20% slower), energy usage: 1.2x (20% more FE/t)
        # Syntax: mod:block:meta;productivity;processing_time;energy_usage (meta is optional, mod is required, if meta is not specified, *any* is assumed)
        S:Moderators <
            minecraft:water;0;-0.02;-0.03
            minecraft:lava;0.2;0.05;0.1
            minecraft:coal_block;0;-0.05;-0.01
            minecraft:diamond_block;0.05;0.1;0.1
         >

        # Number of ticks per operation for the Fusion Reactor
        # Min: 0
        # Max: 2147483647
        I:"Processing Ticks"=40
    }

    ##########################################################################################################
    # combiner
    #--------------------------------------------------------------------------------------------------------#
    # The Combiner creates molecules and items from elements by crafting them together
    ##########################################################################################################

    combiner {
        # Max energy capacity of the Combiner
        # Min: 1
        # Max: 2147483647
        I:"Energy Capacity"=10000

        # Energy consumption rate per tick for the Combiner
        # Min: 0
        # Max: 2147483647
        I:"Energy per Tick"=200

        # Number of ticks per operation for the Combiner
        # Min: 0
        # Max: 2147483647
        I:"Processing Ticks"=5
    }

    ##########################################################################################################
    # dissolver
    #--------------------------------------------------------------------------------------------------------#
    # The Dissolver creates elements from molecules and items by separating them
    ##########################################################################################################

    dissolver {
        # Max energy capacity of the Dissolver
        # Min: 1
        # Max: 2147483647
        I:"Energy Capacity"=10000

        # Energy consumption rate per tick for the Dissolver
        # Min: 0
        # Max: 2147483647
        I:"Energy per Tick"=100

        # Number of ticks per operation for the Combiner
        # Min: 0
        # Max: 2147483647
        I:"Processing Ticks"=0

        # The max amount of items that the Dissolver will output each tick.
        # Please note: only one element will be outputted per tick, and only the elements from one input are eligible at a time.
        # For example: Cellulose (C6 H10 O5) with speed 4 would be outputted like so, with each comma-separated value representing 1 tick [4xC,2xC,4xH,4xH,2xH,4xO,1xO]
        # Min: 1
        # Max: 64
        I:Speed=8
    }

    ##########################################################################################################
    # electrolyzer
    #--------------------------------------------------------------------------------------------------------#
    # The Electrolyzer creates elements from fluids by separating them utilizing a catalyst
    ##########################################################################################################

    electrolyzer {
        # Max energy capacity of the Electrolyzer
        # Min: 1
        # Max: 2147483647
        I:"Energy Capacity"=10000

        # Energy consumption rate per tick for the Electrolyzer
        # Min: 0
        # Max: 2147483647
        I:"Energy per Tick"=100

        # Number of ticks per Electrolyzer operation
        # Min: 0
        # Max: 2147483647
        I:"Processing Ticks"=10
    }

    ##########################################################################################################
    # evaporator
    #--------------------------------------------------------------------------------------------------------#
    # The Evaporator creates items from fluids by removing the fluid and leaving behind the solid
    ##########################################################################################################

    evaporator {
        # Additional heat sources that can be placed underneath an evaporator to increase its speed
        # Syntax: mod:block:meta;speed_multiplier (meta is optional, mod is required, if meta is not specified, *any* is assumed)
        S:"Heat Sources" <
            minecraft:lava;2
            minecraft:torch;1.05
         >

        # The best possible processing time for the Evaporator. In practice it will be increased by biome and influenced by heat sources
        # Min: 0
        # Max: 2147483647
        I:"Processing Ticks"=160
    }

    ##########################################################################################################
    # atomizer
    #--------------------------------------------------------------------------------------------------------#
    # The Atomizer transforms liquids into their respective elements and molecules
    ##########################################################################################################

    atomizer {
        # Max energy capacity of the Atomizer
        # Min: 1
        # Max: 2147483647
        I:"Energy Capacity"=10000

        # Energy consumption rate per tick for the Atomizer
        # Min: 0
        # Max: 2147483647
        I:"Energy per Tick"=50

        # Number of ticks per Atomizer operation
        # Min: 0
        # Max: 2147483647
        I:"Processing Ticks"=100
    }

    ##########################################################################################################
    # liquifier
    #--------------------------------------------------------------------------------------------------------#
    # The Liquifier transforms elements and molecules into their respective liquids
    ##########################################################################################################

    liquifier {
        # Max energy capacity of the Liquifier
        # Min: 1
        # Max: 2147483647
        I:"Energy Capacity"=10000

        # Energy consumption rate per tick for the Liquifier
        # Min: 0
        # Max: 2147483647
        I:"Energy per Tick"=50

        # Number of ticks per Liquifier operation
        # Min: 0
        # Max: 2147483647
        I:"Processing Ticks"=100
    }

}


machines {
    I:atomizerEnergyCapacity=10000
    I:atomizerEnergyPerTick=50
    I:atomizerProcessingTicks=100
    I:combinerEnergyCapacity=10000
    I:combinerEnergyPerTick=250
    I:combinerProcessingTicks=20
    I:dissolverEnergyCapacity=10000
    I:dissolverEnergyPerTick=100
    I:dissolverSpeed=2
    I:elctrolyzerProcessingTicks=10
    I:electrolyzerEnergyCapacity=10000
    I:electrolyzerEnergyPerTick=100
    I:evaporatorProcessingTicks=160
    I:liquifierEnergyCapacity=10000
    I:liquifierEnergyPerTick=50
    I:liquifierProcessingTicks=100
}


