# Configuration file

client {
    # Always show sphere at max progress (visual only) [default: false]
    B:SHOW_AT_MAX_PROGRESS=false

    # Max distance (blocks) at which the EM Rail Ejector and Ray Receiver are rendered [range: 64 ~ 1024, default: 128]
    I:TESR_RENDER_DISTANCE=128
}


general {
    # How many solar panels each beam can support [range: 1 ~ 2147483647, default: 6]
    I:BEAM_TO_SOLAR_PANEL_RATIO=6

    # The maximum number of solar panels the Dyson Sphere can have [range: 1 ~ 2147483647, default: 50000000]
    I:MAX_SOLAR_PANELS=50000000

    # The amount of power generated per sail [range: 0 ~ 2147483647, default: 20]
    I:POWER_PER_SAIL=20

    # The power that the em railejector consumes each tick per sent item [range: 1 ~ 2147483647, default: 40]
    I:RAIL_EJECTOR_CONSUME=40

    # The power that the em railejector buffer has [range: 1 ~ 2147483647, default: 400000]
    I:RAIL_EJECTOR_POWER_BUFFER=400000

    # Require FE power for the EM Rail Ejector to operate. If false, base speed can run without power. [default: true]
    B:RAIL_EJECTOR_REQUIRE_POWER=true

    # The power that the ray receiver can extract from the sphere every tick [range: 1 ~ 2147483647, default: 50000000]
    I:RAY_RECEIVER_EXTRACT_POWER=50000000

    # The power that the ray receiver buffer has [range: 1 ~ 2147483647, default: 100000000]
    I:RAY_RECEIVER_POWER_BUFFER=100000000
    B:SHOW_AT_MAX_PROGRESS=false
}


