# Configuration file

general {

    rendering {
        # Disables most lighting code for models rendered dynamically (TESR). May improve FPS. Affects various multiblocks [Default=false]
        B:disableFancyTESR=false
    }

    jei {
        # Show the multiblocks of Immersive Engineering, Immersive Petroleum and Immersive Technology in JEI's ingredient list, drawn as their assembled models. Their recipe pages and the machine icons on those pages stay either way [Default=true]
        B:showMultiblockItems=true
    }

}


