# Configuration file

general {
    # Selects the files that are being loaded [default: ]
    S:LoadingFiles <
        00_EmergencyPickaxe.json
        01_CharcoalLogToCraftingTable.json
        01_FireStarter.json
        01_CharcoalLogToOakLog.json
        01_Silkworm.json
        01_OxygenLog.json
        02_WeakShaftMaker.json
        03_PowerGenerator.json
     >

    # Selects the files that load into the NBTStorage [default: ]
    S:NBTFiles <
        NBTdata
     >
    B:printDocumentation=false
    B:printDocumentationInCurseFormat=false
}


plugins {
    B:Baubles=true
    B:Forge=true
    B:GameStages=true
    B:Loot=true
    B:Player=true
    B:Prestige=true
    B:Score=true
    B:ToughAsNails=true
    B:Utils=true
    B:World=true
}


